  <div class="jumbotron">

    <div class="po">
      <p class="title">行动派是一个提供工作机会的求职网站。</p>
      <p class="slogan">"The distance between your dreams and reality is called action"</p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
    </div>

  </div>
