/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 //导航栏
 .navbar-default {
    // background-color: #212121;//背景颜色
    // border-color: #212121;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}

//表格
 .custab{
   border: 1px solid #ccc;
   padding: 5px;
   margin: 5% 0;
   box-shadow: 3px 3px 2px #ccc;
   transition: 0.5s;
 }

 .custab:hover{
   box-shadow: 3px 3px 0px transparent;
   transition: 0.5s;
 }

//首页
.jumbotron {
  background-image:url('https://picjumbo.imgix.net/HNCK4003.jpg?q=40&w=1650&sharp=30');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  padding-top: 300px;
}

.container-fluid .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
}

container .jumbotron, .container-fluid .jumbotron {
    border-radius: 6px;
    padding-left: 0px;
    padding-right: 0px;
}

.po {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.5);
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  color: white;
  line-height: 1.2;
  font-size: 40px;
  padding-top: 10px;
}

.slogan {
  text-align: center;
  color: white;
  font-weight: 1000;
  top: 12px;
}

.jumbotron p{
    font-size: 21px;
    font-weight: 200;
}


.lead {
  text-align: center;
  color: white;
}

.lead a{
  margin-left: 10px;
}
// .btn-danger {
//     color: #fff;
//     background-color: #87ba45;
//     border-color: #87ba45;
// }
//
// .btn-danger:hover{
//     color: #fff;
//     background-color: #90C64A;
//     border-color: #90C64A;
// }
//
// .btn-danger:focus{
//     color: #fff;
//     background-color: #90C64A;
//     border-color: #90C64A;
// }
//
// .btn-danger:active{
//     color: #fff;
//     background-color: #90C64A;
//     border-color: #90C64A;
// }
